@import './common';
@import './base/command';
@import './base/reset';
@import './utilis/mixin';
@import './utilis/placeholders';
@import './utilis/vars';
@import './components/header';
@import './components/hero';
@import './components/offerings';
@import './components/favorites';
@import './components/subscribe';
@import './components/customers';
// @import './components/footer';
