<section class="favorites">
  <div class="container">
    <h2 class="favorites__title">Some of Our Favorites</h2>
    <p class="favorites__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites-list">
      <li class="favorites-list__item">
        <img
          class="favorites-list__img"
          src="./images/favorites/desktop-1-favorite-1x.webp"
          alt="..."
        />
      </li>
      <li class="favorites-list__item">
        <img
          class="favorites-list__img"
          src="./images/favorites/desktop-2-favourites-1x.jpg"
          alt="..."
        />
      </li>
      <li class="favorites-list__item">
        <img
          class="favorites-list__img"
          src="./images/favorites/desktop-3-favourites-1x.jpg"
          alt="..."
        />
      </li>
      <li class="favorites-list__item">
        <img
          class="favorites-list__img"
          src="./images/favorites/desktop-4-favourites-1x.jpg"
          alt="..."
        />
      </li>
      <li class="favorites-list__item">
        <img
          class="favorites-list__img"
          src="./images/favorites/desktop-5-favorite-1x.webp"
          alt="..."
        />
      </li>
      <li class="favorites-list__item">
        <img
          class="favorites-list__img"
          src="./images/favorites/desktop-6-favorite-1x.webp"
          alt="..."
        />
      </li>
    </ul>
  </div>
</section>
