<footer class="footer">
  <div class="footer__container">
    <div class="container section">
      <div class="footer__nav">
        <div class="footer__top">
          <a class="footer__logo" href="#">
            <picture>
              <source srcset="./images/logo.png" media="(min-width: 1280px)" />

              <source srcset="./images/logo.png" media="(min-width: 768px)" />

              <source srcset="./images/logo.png" media="(max-width: 767px)" />

              <img src="./images/logo.png" alt="Логотип FoodSta" />
            </picture>
          </a>

          <ul class="footer__list list">
            <li class="footer__item">
              <a class="footer__link" href="#">Home</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">About</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Service</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Menu</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Contact</a>
            </li>
          </ul>
        </div>

        <div class="footer__subscribe">
          <p class="footer__title">Subscribe</p>

          <form class="footer__form">
            <input
              class="footer__input"
              type="text"
              name="email"
              id="email"
              placeholder="Enter your email"
              required
            />

            <button class="footer__button" type="submit">Subscribe</button>
          </form>
          <p class="footer__subtitle">
            By subscribing you agree to with our
            <a href="/" class="footer__sublink">Privacy Policy</a>
          </p>
        </div>
      </div>

      <div class="footer-bottom">
        <ul class="footer-bottom__list list">
          <li class="footer-bottom__item">
            <a class="footer-bottom__link" href="#">Privacy Policy</a>
          </li>
          <li class="footer-bottom__item">
            <a class="footer-bottom__link" href="#">Terms of Service</a>
          </li>
          <li class="footer-bottom__item">
            <a class="footer-bottom__link" href="#">Cookies Settings</a>
          </li>
        </ul>
        <p class="footer-bottom__text">2022 FoodSta. All right reserved.</p>
      </div>
    </div>
  </div>
</footer>
