<footer class="footer footer-section">
  <div class="container footer__container">
    <div class="footer-top">
      <nav class="footer-navigation">
        <a href="/" class="footer__logo">
          <svg width="10" height="10">
            <use href="/"></use>
          </svg>
        </a>

        <ul class="footer-list">
          <li class="footer-list__item">
            <a href="/" class="footer__link">Home</a>
          </li>
          <li class="footer-list__item">
            <a href="/" class="footer__link">About</a>
          </li>
          <li class="footer-list__item">
            <a href="/" class="footer__link">Service</a>
          </li>
          <li class="footer-list__item">
            <a href="/" class="footer__link">Menu</a>
          </li>
          <li class="footer-list__item">
            <a href="/" class="footer__link">Contact</a>
          </li>
        </ul>

        <div class="form">
          <h3 class="form__title">Subscribe</h3>
          <div></div>
          <button type="button" class="form__button">Subscribe</button>
          <p class="form__subtitle">
            By subscribing you agree to with our
            <a href="/" class="form__link">Privacy Policy</a>
          </p>
        </div>
      </nav>
    </div>

    <div class="footer-bottom">
      <div>
        <ul class="footer-bottom__list">
          <li class="footer-bottom__item">
            <a class="footer-bottom__link" href="/">Privacy Policy</a>
          </li>
          <li class="footer-bottom__item">
            <a class="footer-bottom__link" href="/">Terms of Service</a>
          </li>
          <li class="footer-bottom__item">
            <a class="footer-bottom__link" href="">Cookies Settings</a>
          </li>
        </ul>
      </div>
      <div>
        <p class="footer-bottom__text">2022 FoodSta. All right reserved.</p>
      </div>
    </div>
  </div>
</footer>
