<section class="hero">
  <div class="container">
    <div class="hero__box">
      <h2 class="hero__title">
        Enjoy Your Favorite
        <br />Food From Anywhere
      </h2>
      <p class="hero__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse<br />
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra<br />
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <button class="hero__button">Order Now</button>
    </div>
    <div class="hero__box"></div>
  </div>
</section>
