<section class="subscribe">
    <div class="container">
        <ul class="subscribe__list">
            <li class="subscribe__item">
                <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
                <p class="subscribe__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                <form class="subscribe__form">
                    <input class="subscribe__input" type="email" placeholder="Enter your email">
                    <button type="submit" class="subscribe__button">Subscribe</button>
                </form>
            </li>

            <li class="subscribe__item">
                <img class="subscribe__img" src="./images/subscribe/desktop-banan-1x.png" alt="...">
            </li>
            
        </ul>

    </div>
</section>