<section class="subscribe">
    <div class="container">
        <h2 class="subscribe__title">Subscribe To Get Special Offers</h2>
        <p class="subscribe__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
        <form class="subscribe__form">
            <input class="subscribe__input" type="text" placeholder="Enter your email">
        </form>
        <button type="button" class="subscribe__button">Subscribe</button>

        <img class="subscribe__img" src="../images/subscribe/desktop-subscribe-1x.jpg" alt="...">
    </div>
</section>