.favorites {
  background-color: #FEFEFE;
  display: flex;
  &__title {
    color: #2C2C2C;
    font-weight: 700;
    font-size: 42px;
    line-height: 49px;
    text-align: center;
    margin-bottom: 20px;
  }
  &__text {
    color: #2C2C2C;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }
}

.favorites-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  &__item {
    margin-left: 32px;
    margin-bottom: 32px;
  }
  &__img {
    width: 315px;
    height: 315px;
    background: local;
    border: 16px solid #FFE550;
    border-radius: 197.5px;
    box-sizing: border-box;
    padding: 40px;
  }
}