.footer {
  box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
}

.footer__container {
  background-color: #fefefe;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0 auto;
  max-width: 767px;
  background-position: top 132px left 0, top 0 right 0, 50% 100%;
  background-repeat: no-repeat;
  background-size: 110px 116px, 104px 259px, 253px 66px;
  background-image: url('../images/footer/mobile-footer-1x.jpg'),
    url('../images/footer/mobile-footer-2x.jpg');

  @media screen and(min-width:768px) {
    // width: 768px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/footer/tablet-footer-1x.jpg'),
      url('../images/footer/tablet-footer-2x.jpg');
  }

  @media screen and(min-width:1280px) {
    max-width: 1280px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/footer/desktop-footer-1x.jpg'),
      url('../images/footer/desktop-footer-2x.jpg');
  }
}

.footer__logo {
  width: 69px;
  margin-right: 81px;

  @media screen and(min-width:768px) {
    margin-right: 114px;
  }

  @media screen and(min-width:1280px) {
    width: 66px;
    margin-right: 148px;
  }
}

.footer__top {
  display: flex;

  @media screen and(min-width:768px) {
    margin-bottom: 40px;
    align-items: center;
  }

  @media screen and(min-width:1280px) {
    align-items: center;
  }
}

.footer__nav {
  @media screen and(min-width: 1280px) {
    display: flex;
    margin-bottom: 80px;
    justify-content: space-between;
  }
}

.footer__list {
  margin-bottom: 40px;

  @media screen and(min-width:768px) {
    display: flex;
    margin-bottom: 0;
  }
}

.footer__link {
  text-decoration-line: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  color: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    text-decoration-line: underline;

    color: #bbf330;
  }
}

.footer__item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media screen and(min-width:768px) {
    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: 28px;
      margin-bottom: 0;
    }
  }
}

.footer__subscribe {
  margin-bottom: 60px;

  @media screen and(min-width:768px) {
    margin-bottom: 100px;
  }

  @media screen and(min-width:1280px) {
    margin-bottom: 0;
  }
}

.footer__title {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;

  color: #2c2c2c;
}

.footer__form {
  @media screen and(min-width:768px) {
    display: flex;
  }
}

.footer__input {
  width: 100%;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;

  outline: #ffe550;
  color: #505050;

  background: #fefefe;
  border: 0.854167px solid #ffe550;
  border-radius: 30px;
  padding: 12px 61.5px 12px 12px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 0.854167px solid #7eb101;
  }

  @media screen and(min-width:768px) {
    width: 279px;
  }
}

.footer__button {
  display: block;
  margin-left: auto;
  margin-top: 20px;
  color: #2c2c2c;
  border: 0.854167px solid #7eb101;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fff;
  border-radius: 30px;
  padding: 11px 22px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.54;

  &:hover {
    background-color: #ffe550;
  }

  @media screen and(min-width: 768px) {
    margin-left: 13px;
    margin-top: 0;
    margin-right: 0;
  }
}

.footer__subtitle {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;

  color: #2c2c2c;
  margin-top: 20px;

  @media screen and(min-width:768px) {
    font-size: 12px;
    line-height: 1.166;
    margin-top: 12px;
  }
}

.footer__sublink {
  text-decoration-line: underline;
  color: #7eb101;
}

.footer__nav__data {
  @media screen and(min-width:768px) {
    display: flex;
    justify-content: space-between;
  }
}

.footer-bottom__list {
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;

  @media screen and(min-width:768px) {
    margin-bottom: 0;
    justify-content: left;
    flex-direction: row;
  }
}

.footer-bottom__item {
  &:not(:last-child) {
    margin-right: 33px;
  }

  @media screen and(min-width:768px) {
    font-size: 12px;
    line-height: 1.166;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @media screen and(min-width:1280px) {
    margin-right: 0px;
  }
}

.footer-bottom__link {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  text-decoration-line: underline;

  color: #7eb101;
}

.footer-bottom__text {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;

  color: #2c2c2c;
  text-align: center;

  @media screen and(min-width: 768px) {
    font-size: 12px;
    line-height: 1.166;
  }
}

.footer-bottom {
  @media screen and(min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}
