.subscribe {
    background-color: #FEFEFE;
    &__title {
        color: #2C2C2C;
        font-weight: 700;
        font-size: 42px;
        line-height: 49px;
        text-align: left;
        margin-bottom: 20px;
    }
    &__text {
        color: #2C2C2C;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: left;
        margin-bottom: 24px;
    }

    &__input {
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        border-radius: 30px;
        border: 0.854167px solid #FFE550;
        color: #505050;
        width: 395px;
        height: 42px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-right: 57px;
        padding-left: 11px;
        margin-right: 32px;

    }

    &__button {
        background: #BBF330;
        border-radius: 30px;
        border: none;
        height: 42px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 22px;
        padding-left: 22px;

        font-family: 'Roboto';
        font-weight: 500;
        font-size: 13px;
        line-height: 150%;
        cursor: pointer;
        transition: background 250ms cubic-bezier(0.39, 0.575, 0.565, 1) 25ms;

        &:hover {
            background: #B5FF00;
            border-radius: 30px;
        }
    }

    // &__img {
       
    // }

    &__list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}